#messageFormArea{
    display:none;
}
/* #userFormArea{
    display:none;
} */
#messageFormArea{
    height: 100%;
    width: 100%;
}

.userItem{
    margin-left: 20px;
    margin-right: 20px;
}

.left {
    float: left;
    width: 25%;
    height: 100%;
    background-color: #f5f5f5;
}

.people {
    margin-left: 20px;
    width: calc(100% - 40px);
}
.person {
    position: relative;
    width: 100%;
    padding: 12px 10% 16px;
    cursor: pointer;
}
.right {
    position: relative;
    float: left;
    width: 75%;
    height: 100%;
}

.top {
    width: 100%;
    height: 50px;
    padding: 15px 29px;
    font-weight:bold;
    text-align: center;
    background-color: #f5f5f5;
}

.yourusername{
    font-size: 12px;
    float: left;
    color: black;
    opacity: 0.5;
    margin: 0px;
    width: 100%;
}

.bubble {
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 5px;
    padding: 2px 15px;
    vertical-align: top;
    border-radius: 5px;
    max-width: calc(100% - 20px);
}
.you {
    float: left;
    color: var(--white);
    background-color: var(--blue);
    align-self: flex-start;
    word-wrap: break-word;
}
.me {
    float: right;
    color: var(--dark);
    background-color: #eceff1;
    align-self: flex-end;
    word-wrap: break-word;
}
.chatroom {
    position: relative;
    overflow: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: none;
    height: calc(100% - 150px);
    justify-content: flex-end;
    flex-direction: column;
    display: block;
}
.write {
    position: absolute;
    bottom: 10px;
    left: 30px;
    height: 50px;
    padding-left: 8px;
    border: 1px solid var(--light);
    background-color: #eceff1;
    width: calc(100% - 60px);
    border-radius: 5px;
    margin: auto;
    text-align: left;
}
.textInput{
    background: transparent;
    border: none;
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(100% - 55px);
    opacity: 0.7;
}

.btn-submit{
    width: 45px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    border: none;
    opacity: 0.3;
    background: transparent;
}

textarea:focus, input:focus{
    outline: none;
}

.userTop{
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
}